### Import libraries

In [54]:
import pandas as pd
import numpy as np

### Preprocessing

##### Dataset 2019

In [57]:
# Import file
data_2019 = pd.read_csv("Jumlah Perjalanan Wisatawan Nusantara Menurut Provinsi Tujuan, 2019.csv", header=None)

# Menghapus baris 0, 1, dan 2 yang berisi judul dan deskripsi dataset
data_2019 = data_2019.drop([0, 1, 2])

# Reset indeks
data_2019.reset_index(drop=True, inplace=True)

# Drop NaN values 
data_2019.dropna(inplace=True)

# Mengganti nama fitur menjadi ['Provinsi'] + ['{bulan}_2019'] * 12 + ['Tahunan']
new_features = ['Provinsi'] + [f'{month}_{year}' for month, year in zip(['januari', 'februari', 'maret', 'april', 'mei', 'juni', 'juli', 'agustus', 'september', 'oktober', 'november', 'desember'], ['2019'] * 12)] + ['Tahunan']
data_2019.columns = new_features

# Drop kolom yang tidak diperlukan (Tahunan)
data_2019.drop(columns=['Tahunan'], inplace=True)

# Menampilkan data setelah mengganti nama kolom
print(data_2019.columns)

# Mengisi missing values ('-') dengan np.NA
data_2019.replace('-', pd.NA, inplace=True)
    
# Mengisi missing values dengan mean
data_2019.fillna(data_2019.mean(), inplace=True)

print(data_2019[-6:])

Index(['Provinsi', 'januari_2019', 'februari_2019', 'maret_2019', 'april_2019',
       'mei_2019', 'juni_2019', 'juli_2019', 'agustus_2019', 'september_2019',
       'oktober_2019', 'november_2019', 'desember_2019'],
      dtype='object')

TypeError: can only concatenate str (not "int") to str

#### Dataset 2020

In [38]:
# Import file
data_2020 = pd.read_csv("Jumlah Perjalanan Wisatawan Nusantara Menurut Provinsi Tujuan, 2020.csv", header=None)

# Menghapus baris 0, 1, dan 2 yang berisi informasi yang ingin dihapus
data_2020 = data_2020.drop([0, 1, 2])

# Reset indeks
data_2020.reset_index(drop=True, inplace=True)

# Drop NaN values 
data_2020.dropna(inplace=True)

# Mengganti nama fitur menjadi ['Provinsi'] + ['{bulan}_2020'] * 12 + ['Tahunan']
new_features = ['Provinsi'] + [f'{month}_{year}' for month, year in zip(['januari', 'februari', 'maret', 'april', 'mei', 'juni', 'juli', 'agustus', 'september', 'oktober', 'november', 'desember'], ['2020'] * 12)] + ['Tahunan']
data_2020.columns = new_features

# Drop kolom yang tidak diperlukan (Provinsi dan Tahunan)
data_2020.drop(columns=['Provinsi', 'Tahunan'], inplace=True)

# Menampilkan data setelah mengganti nama kolom
print(data_2020.columns)
print(data_2020.head())

Index(['januari_2020', 'februari_2020', 'maret_2020', 'april_2020', 'mei_2020',
       'juni_2020', 'juli_2020', 'agustus_2020', 'september_2020',
       'oktober_2020', 'november_2020', 'desember_2020'],
      dtype='object')
  januari_2020 februari_2020 maret_2020 april_2020 mei_2020 juni_2020  \
1       483897        430589     351710     157764   258310    298482
2      2012511       1466193    1109440     442072   576278    864667
3       863282        779785     623248     226466   250931    562966
4       619363        548129     464347     215636   249411    390121
5       264201        250082     206088     114969   133020    183620

  juli_2020 agustus_2020 september_2020 oktober_2020 november_2020  \
1    333571       392055         293602       340415        322558
2   1082687      1291700        1016798      1232110       1120288
3    754303       827245         555478       672099        661261
4    440119       497048         422867       520924        463144
5    235975       258405         228973       240877        242326

  desember_2020
1        479226
2       1831624
3       1115758
4        674613
5        326026

#### Dataset 2021

In [39]:
# Import file
data_2021 = pd.read_csv("Jumlah Perjalanan Wisatawan Nusantara Menurut Provinsi Tujuan, 2021.csv", header=None)

# Menghapus baris 0, 1, dan 2 yang berisi informasi yang ingin dihapus
data_2021 = data_2021.drop([0, 1, 2])

# Reset indeks
data_2021.reset_index(drop=True, inplace=True)

# Drop NaN values 
data_2021.dropna(inplace=True)

# Mengganti nama fitur menjadi ['Provinsi'] + ['{bulan}_2021'] * 12 + ['Tahunan']
new_features = ['Provinsi'] + [f'{month}_{year}' for month, year in zip(['januari', 'februari', 'maret', 'april', 'mei', 'juni', 'juli', 'agustus', 'september', 'oktober', 'november', 'desember'], ['2021'] * 12)] + ['Tahunan']
data_2021.columns = new_features

# Drop kolom yang tidak diperlukan (Provinsi dan Tahunan)
data_2021.drop(columns=['Provinsi', 'Tahunan'], inplace=True)

# Menampilkan data setelah mengganti nama kolom
print(data_2021.columns)
print(data_2021.head())

Index(['januari_2021', 'februari_2021', 'maret_2021', 'april_2021', 'mei_2021',
       'juni_2021', 'juli_2021', 'agustus_2021', 'september_2021',
       'oktober_2021', 'november_2021', 'desember_2021'],
      dtype='object')
  januari_2021 februari_2021 maret_2021 april_2021 mei_2021 juni_2021  \
1       396953        421243     445804     378402   599117    457822
2      1424081       1375473    1415803    1369304  1674445   1571487
3       775782        735587     793796     712644  1025889    894952
4       507998        482533     511576     451372   501143    521519
5       247256        225630     239867     226476   280176    255590

  juli_2021 agustus_2021 september_2021 oktober_2021 november_2021  \
1    445355       397120         440652       490983        445046
2   1127318      1139616        1329028      1641459       1433761
3    664848       635405         717460       829981        733146
4    486997       418261         480952       542388        503440
5    240188       205004         234360       277376        247704

  desember_2021
1        615908
2       2256408
3       1084422
4        735090
5        367540

#### Dataset 2022

In [40]:
# Import file
data_2022 = pd.read_csv("Jumlah Perjalanan Wisatawan Nusantara Menurut Provinsi Tujuan, 2022.csv", header=None)

# Menghapus baris 0, 1, dan 2 yang berisi informasi yang ingin dihapus
data_2022 = data_2022.drop([0, 1, 2])

# Reset indeks
data_2022.reset_index(drop=True, inplace=True)

# Drop NaN values 
data_2022.dropna(inplace=True)

# Mengganti nama fitur menjadi ['Provinsi'] + ['{bulan}_2022'] * 12 + ['Tahunan']
new_features = ['Provinsi'] + [f'{month}_{year}' for month, year in zip(['januari', 'februari', 'maret', 'april', 'mei', 'juni', 'juli', 'agustus', 'september', 'oktober', 'november', 'desember'], ['2022'] * 12)] + ['Tahunan']
data_2022.columns = new_features

# Drop kolom yang tidak diperlukan (Provinsi dan Tahunan)
data_2022.drop(columns=['Provinsi', 'Tahunan'], inplace=True)

# Menampilkan data setelah mengganti nama kolom
print(data_2022.columns)
print(data_2022.head())

Index(['januari_2022', 'februari_2022', 'maret_2022', 'april_2022', 'mei_2022',
       'juni_2022', 'juli_2022', 'agustus_2022', 'september_2022',
       'oktober_2022', 'november_2022', 'desember_2022'],
      dtype='object')
  januari_2022 februari_2022 maret_2022 april_2022 mei_2022 juni_2022  \
1       526417        501651     585675     434633   935025    566361
2      2022964       1636066    1846809    1658463  2896949   1987624
3       926043        814741    1007630     838560  1655583    988346
4       636543        581783     673534     597000   897026    692293
5       302504        255285     313009     310853   449078    316554

  juli_2022 agustus_2022 september_2022 oktober_2022 november_2022  \
1    748573       531072         500673       513056        471520
2   2216932      1678953        1664991      1785747       1525633
3   1176922       905311         891560       949081        877671
4    795698       662795         677309       692329        640199
5    364514       285681         280278       289153        262087

  desember_2022
1        639922
2       2283325
3       1307815
4        857727
5        351987

#### Dataset 2023

In [41]:
# Import file
data_2023 = pd.read_csv("Jumlah Perjalanan Wisatawan Nusantara Menurut Provinsi Tujuan, 2023.csv", header=None)

# Menghapus baris 0, 1, dan 2 yang berisi informasi yang ingin dihapus
data_2023 = data_2023.drop([0, 1, 2])

# Reset indeks
data_2023.reset_index(drop=True, inplace=True)

# Drop NaN values 
data_2023.dropna(inplace=True)

# Mengganti nama fitur menjadi ['Provinsi'] + ['{bulan}_2023'] * 12 + ['Tahunan']
new_features = ['Provinsi'] + [f'{month}_{year}' for month, year in zip(['januari', 'februari', 'maret', 'april', 'mei', 'juni', 'juli', 'agustus', 'september', 'oktober', 'november', 'desember'], ['2023'] * 12)] + ['Tahunan']
data_2023.columns = new_features

# Drop kolom yang tidak diperlukan (Provinsi dan Tahunan)
data_2023.drop(columns=['Provinsi', 'Tahunan'], inplace=True)

# Menampilkan data setelah mengganti nama kolom
print(data_2023.columns)
print(data_2023.head())

Index(['januari_2023', 'februari_2023', 'maret_2023', 'april_2023', 'mei_2023',
       'juni_2023', 'juli_2023', 'agustus_2023', 'september_2023',
       'oktober_2023', 'november_2023', 'desember_2023'],
      dtype='object')
  januari_2023 februari_2023 maret_2023 april_2023 mei_2023 juni_2023  \
1       663437        517850     557272     756915   791968    701963
2      2962641       1870691    1852752    2673955  2556839   2416258
3      1345098       1024017    1056957    1373374  1538507   1407632
4       914340        729078     759760     935938   977332   1016640
5       380949        293566     302700     414742   421741    424987

  juli_2023 agustus_2023 september_2023 oktober_2023 november_2023  \
1    871519       618671         565184       588020        637519
2   2462212      1889717        1847654      1958158       1870337
3   1413899      1072952        1083013      1121805        904282
4   1048542       893939         866457       908253        762348
5    433896       375376         368132       386128        371185

  desember_2023
1       1673468
2       3251911
3       1350709
4       1334426
5        609785

#### Menggabungkan dataset 2019-2023

In [43]:
# Menggabungkan dataset menggunakan concat
data = pd.concat([data_2019, data_2020, data_2021, data_2022, data_2023], axis=1)

data

,Provinsi,januari_2019,februari_2019,maret_2019,april_2019,mei_2019,juni_2019,juli_2019,agustus_2019,september_2019,...,maret_2023,april_2023,mei_2023,juni_2023,juli_2023,agustus_2023,september_2023,oktober_2023,november_2023,desember_2023
1,ACEH,1387574,1111607,1113176,1155705,1070909,1800152,1323272,1508073,1174513,...,557272,756915,791968,701963,871519,618671,565184,588020,637519,1673468
2,SUMATERA UTARA,5094564,3282713,3442407,3676763,3469100,5774370,3996409,3699782,3208776,...,1852752,2673955,2556839,2416258,2462212,1889717,1847654,1958158,1870337,3251911
3,SUMATERA BARAT,1667509,1313185,1420799,1573606,1511963,2910574,1719018,1207708,1011691,...,1056957,1373374,1538507,1407632,1413899,1072952,1083013,1121805,904282,1350709
4,RIAU,1990985,1425092,1541155,1563303,1574681,2179811,1646721,1227426,1018291,...,759760,935938,977332,1016640,1048542,893939,866457,908253,762348,1334426
5,JAMBI,828879,652908,716028,547378,438508,572785,498688,620967,580974,...,302700,414742,421741,424987,433896,375376,368132,386128,371185,609785
6,SUMATERA SELATAN,1763349,1294947,1356470,1099872,917156,1380350,848202,1265112,1121514,...,703181,1010231,1021583,968252,1013893,867202,867562,858520,725317,1373335
7,BENGKULU,414287,304721,336570,287546,258241,407898,292552,353997,347174,...,154106,248057,241660,225886,241961,199228,204566,209482,187859,680801
8,LAMPUNG,2082997,1612674,1606207,1164672,877643,1653991,992730,1422192,1191629,...,877374,1429885,1376686,1208281,1293197,997673,1030417,1058924,894880,1544279
9,KEP. BANGKA BELITUNG,298322,240226,255054,199678,122301,178462,148190,182592,171412,...,139812,185529,209111,218299,234099,206938,188694,173431,137343,400977
10,KEP. RIAU,434786,351865,358547,360392,358416,460205,413445,286867,244300,...,162989,162775,200190,230629,211471,180206,179288,186323,166685,285542
11,DKI JAKARTA,5397751,4349186,4859467,4798553,4428139,5181301,5727689,5927808,5562321,...,5102411,3818359,4205052,4741778,4765407,4460100,5547181,5538389,5724711,7514043
12,JAWA BARAT,11116072,9942434,11088052,11993275,10148348,17758640,12666376,13851900,11808826,...,11090133,11964676,12614837,12392325,14209134,11285737,12562445,12937519,12661993,17107102
13,JAWA TENGAH,5499613,3635334,8111673,9858616,6842427,11212167,7224219,8383154,5921102,...,10463721,11700414,11879262,10317259,10496595,8130358,8200960,8442719,8162360,9038810
14,DI YOGYAKARTA,1411202,914238,1838076,2187942,1206999,2259780,2001306,1852091,1510369,...,2321441,2291965,3122919,3060366,2864007,2059153,2117509,2313657,2255890,2709217
15,JAWA TIMUR,7370689,3397447,6166799,5021927,6577537,9120727,4493144,7666096,7960768,...,17708068,19450106,22309466,20347494,17427521,13539565,12654730,13820919,12965607,19993585
16,BANTEN,3499099,2693769,2938462,2963258,2694170,3763715,3571783,3972592,3532654,...,3333376,2979960,3255453,3021918,3606807,3255128,3929704,4048337,3940520,4804045
17,BALI,1316977,1225808,1465586,1483415,1185662,1822787,1682553,1618973,1445303,...,1278466,1616487,1619283,2090327,1955513,1751039,1747551,1874460,1777605,2007821
18,NUSA TENGGARA BARAT,638044,650532,615424,623576,672162,905622,768494,752154,691694,...,525034,609687,1025070,1628775,1718321,1406166,1254525,1326692,1287287,791036
19,NUSA TENGGARA TIMUR,730527,588445,609906,656777,668972,800071,761909,643008,323446,...,269024,291353,344325,501565,494235,348069,339774,345529,335297,769609
20,KALIMANTAN BARAT,868324,718122,702067,667426,668813,965873,737058,750991,611793,...,306368,390690,404409,407707,407292,327538,295721,312246,356052,762490
21,KALIMANTAN TENGAH,583298,422358,478327,459150,481899,578068,495108,490930,468770,...,245960,275200,299372,340119,337424,334553,277704,276691,222334,867859
22,KALIMANTAN SELATAN,798371,624476,1065096,684460,686310,995857,781045,807828,685513,...,477294,578791,589759,630115,673975,520794,517769,542022,445758,1781498
23,KALIMANTAN TIMUR,979211,691855,782692,774765,797668,999931,845422,845716,747355,...,580672,580561,643021,695994,663800,620068,597562,560799,564435,1174998
24,KALIMANTAN UTARA,143744,109695,132047,127958,136905,143427,129237,128417,112758,...,39504,37128,46157,54764,52221,51470,44774,51068,42636,101473
25,SULAWESI UTARA,256496,112937,197795,221246,235233,325311,336575,305167,267290,...,358498,468296,460407,480374,492400,422694,440086,427074,390052,707661
26,SULAWESI TENGAH,451254,308973,374463,374029,368161,380756,323650,506559,404438,...,695711,702310,716311,465410,377459,302353,251645,264313,284303,993915
27,SULAWESI SELATAN,2054894,1402775,1654575,1799377,1653101,2395339,1917506,2516211,2106120,...,2455952,2503880,2472401,1983399,2212555,1397173,1188982,1177955,1233382,3893499
28,SULAWESI TENGGARA,534762,405350,436423,487941,445093,621228,487514,532628,439248,...,1389727,1281173,1294740,899696,838914,480612,376071,365686,386244,1085338
29,GORONTALO,90789,48019,84467,102283,109827,163192,123297,131352,106151,...,132863,164216,162712,154749,156871,134793,139730,131858,125945,347397
30,SULAWESI BARAT,197588,134391,163587,174495,152740,221961,173239,262037,204889,...,425711,399963,406264,297134,294755,157794,110449,111448,126041,376924
31,MALUKU,258094,193290,206894,216036,228658,224863,111095,104002,91767,...,55659,62401,75390,85195,77652,78196,69657,79054,78630,284711
32,MALUKU UTARA,125514,76500,166014,190003,163855,119683,102619,99582,85337,...,136684,142086,148300,162908,157597,144689,135130,126786,123916,302181
33,PAPUA BARAT,185287,143094,159903,152087,161711,172118,164784,158220,73498,...,40975,39759,49782,62022,58569,53329,46999,53875,57701,213062
34,PAPUA BARAT DAYA,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
35,PAPUA,313389,209857,224960,209282,235428,240501,234623,224909,174820,...,87194,87917,100494,133566,123085,114107,107044,119299,125457,419322
36,PAPUA SELATAN,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
37,PAPUA TENGAH,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
38,PAPUA PEGUNUNGAN,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
39,INDONESIA,60784241,44588823,56669168,57856792,51548736,78691516,57739472,64307041,55406504,...,66087349,71628779,77580803,73773786,73686798,58677380,60154669,62697439,60331911,90552829